<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.ProductionMapper">    

	<select id="findByName" resultType="com.crm.model.Production">
		select t.id,t.production_name,t.description,t.price,t.status from production t where t.production_name like concat('%',#{productionname},'%')
	</select>
	
	<select id="getProductionById" resultType="com.crm.model.Production">
		select t.id,t.production_name,t.description,t.price,t.status from production t where t.id=#{id}
	</select> 
	
	<select id="getDatagridTotal" resultType="long">
		select count(1) from production where  1=1
		<if test="production_name != null and production_name != ''">
            and production_name like concat('%',#{production_name},'%')
        </if>
	</select>

	<select id="datagridProduction" resultType="com.crm.model.Production">
		select t.id,t.production_name,t.description,t.price,t.status from production t where 1=1
		<if test="sort != null and sort != ''">
            order by #{sort} #{order}
        </if>
        <if test="page > 0">
            limit #{start},#{end}
        </if>
	</select>
	
	<insert id="addProduction" useGeneratedKeys="true" keyProperty="id">
		insert into production(<trim suffixOverrides=",">
            <if test="production_name !=null and production_name !=''">production_name,</if>
            <if test="description !=null and description !=''">description,</if>
            <if test="price !=null and price !=''">price,</if>
            <if test="status !=null and status !=''">status</if>
            </trim>)values(<trim suffixOverrides=",">
            <if test="production_name !=null and production_name !=''">#{production_name},</if>
            <if test="description !=null and description !=''">#{description},</if>
            <if test="price !=null and price !=''">#{price},</if>
            <if test="status !=null and status !=''">#{status}</if>
            </trim>)
	</insert>
	
    <update id="editProduction">
    	update production
    	<set>
    		<if test="production_name !=null and production_name !=''">production_name=#{production_name},</if>
            <if test="description !=null and description !=''">description=#{description},</if>
            <if test="price !=null and price !=''">price=#{price},</if>
            <if test="status !=null and status !=''">status=#{status}</if>
    	</set>
    	where id = #{id}
    </update>
    
    <delete id="deleteProduction" parameterType="int">
		delete from Production where id=#{id}
	</delete>
</mapper>
